<li class="curreny-wrap currency">
  <span class="current-currency">{{ shop.currency }}</span>
  <i class="fa fa-angle-down"></i>
  {%- assign currency = settings.supported_currencies | split: '|' -%}
  <ul class="dropdown-list curreny-list" id="currencies">
    {%- for value in currency -%}
    {%- assign array = value | split: ',' -%}
    {%- assign iso_4217 = array[0] | upcase | strip -%}
    {%- assign name = array[1] | strip -%}
    <li data-currency="{{ iso_4217 }}" class="currency__item"><a style="cursor: pointer">{{ name }}</a></li>
    {%- endfor -%}
  </ul>
</li>