<header class="header-area" id="section-{{ section.id }}" data-section="HeaderSection">
  <!-- main header start -->
  <div class="main-header d-none d-lg-block">
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'header_top' -%}
    {%- render 'header-top', block: block -%}
    {%- endcase -%}
    {%- endfor -%}
    <!-- header middle area start -->
    <div class="header-main-area">
      <div class="container">
        <div class="row align-items-center ptb-30">
          <!-- header social area start -->
          <div class="col-lg-4">
            <div class="header-social-link">
              {%- render 'social-midea' -%}
            </div>
          </div>
          <!-- header social area end -->
          <!-- start logo area -->
          <div class="col-lg-4">
            <div class="logo text-center">
              {%- render 'header-logo' -%}
            </div>
          </div>
          <!-- start logo area -->
          <!-- mini cart area start -->
          <div class="col-lg-4">
            <div class="header-right d-flex align-items-center justify-content-end">
              <div class="header-configure-area">
                <ul class="nav justify-content-end">
                  <li class="header-search-container mr-0">
                    <button class="search-trigger d-block"><i class="pe-7s-search"></i></button>
                    {%- render 'main-search' -%}
                  </li>
                  {%- render 'header-action-button' -%}
                </ul>
              </div>
            </div>
          </div>
          <!-- mini cart area end -->
        </div>
        <div class="row">
          <!-- main menu area start -->
          <div class="col-12">
            <div class="main-menu-area sticky">
              <div class="main-menu">
                <!-- main menu navbar start -->
				{%- render 'main-menu' -%}
                <!-- main menu navbar end -->
              </div>
            </div>
          </div>
          <!-- main menu area end -->
        </div>
      </div>
    </div>
    <!-- header middle area end -->
  </div>
  <!-- main header start -->
  {%- render 'mobile-header' -%}
</header>