<predictive-search id="predictive-search-toggle" search-open="false">
  <form action="{{ routes.search_url }}" method="get" role="search" class="header-search-box d-none animated jackInTheBox">
    <input
           id="Search"
           type="search"
           name="q"
           value="{{ search.terms | escape }}"
           {%- if settings.predictive_search_enabled -%}
           role="combobox"
           aria-expanded="false"
           aria-owns="predictive-search-results-list"
           aria-controls="predictive-search-results-list"
           aria-haspopup="listbox"
           aria-autocomplete="list"
           autocorrect="off"
           autocomplete="off"
           autocapitalize="off"
           spellcheck="false"
           {%- endif -%}
           class="header-search-field"
           placeholder="{{ 'general.search.placeholder' | t }}"
           >
    <button type="submit" class="header-search-btn"><i class="pe-7s-search"></i></button>
    <input name="options[prefix]" type="hidden" value="last">

    {%- if settings.predictive_search_enabled -%}
    <div id="predictive-search" tabindex="-1"></div>
    {%- endif -%}
  </form>
</predictive-search>