{%- if product.handle != blank -%}
<a class="action-wishlist tile-actions--btn flex wishlist-btn wishlist" href="javascript: void(0)" button-wishlist data-product-handle="{{ product.handle }}" data-toggle="tooltip" data-placement="left" title="{{ settings.wishlist_title }}">
  <span class="add-wishlist"><i class="pe-7s-like"></i></span>
  <span class="loading-wishlist"><i class="pe-7s-settings"></i></span>
  <span class="remove-wishlist"><i class="pe-7s-close"></i></span>
</a>
{%- endif -%}